{% extends 'base.html.twig' %}

{% block level3 %}


    <h1>Un nouvel employer a été enregistrer mon brave !</h1>
    <a href="{{ path('employer_app_employer') }}">Retour à la liste des employers</a>
{% endblock %}