form {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form div div{
    margin: 10 px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button {
    background-color: #8a2be2; 
    color: #fff;
    padding: 10px 20px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #6a1e9a;
}

form a {
    color: #8a2be2; 
    margin-top: 10px; 
}

form a:hover {
    color: #6a1e9a; 
}
