h1 {
	display: flex;
	justify-content: center;
	color: white;
}
h2 {
	display: flex;
	justify-content: center;
	color: white;
	margin: 20px;
}

@media screen and (min-width:992px){
      .nav-item {
      line-height:80px;
      }
}

nav {
	background-color: white;
}

li {
	color : #281942;
}

body {
	background-color: #281942;
}

.footer {
    position: absolute;
    bottom: 0;
    width : 100%;