{% extends 'base.html.twig' %}

{% block level3 %}
<link rel="stylesheet" type="text/css" href='{{ asset("css/level3.css") }}'>
<h2>
    Nombre total de livres en base : {{ nbLivres }}
</h2>
{% endblock %}
