{% extends 'base.html.twig' %}

{% block level3 %}


    <h1>Votre formulaire a été enregistrer mon brave !</h1>
    <a href="{{ path('livre_app_livre') }}">Retour à la liste des livres</a>
{% endblock %}