{% extends 'base.html.twig' %}

{% block level3 %}


    <h1>Ajout de livre réussi</h1>
    <p>Votre livre a été ajouté avec succès.</p>
    <a href="{{ path('livre_app_livre') }}">Retour à la liste des livres</a>
{% endblock %}